@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    color: #1B1B1B;
}

#container {
    box-sizing: border-box;
    max-width: 1120px;
    margin: 88px auto 65px;
    background-color: aqua;
}

.titlepage {
    margin-bottom: 44px;
}

.headline {
    margin-bottom: 8px;
}

#description p {
    margin-top: 24px;
    text-align: center;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 40px 0 64px;
    /* background-color: #d9d9d9; */
    background-color: red;
}

h2 {
    margin-bottom: 8px;
}

#titlelist h2 + p {
    margin-bottom: 64px;
}

ol h3 li {
    margin: 20px 30px 4px;
}

.goodfor {
    margin: 20px auto 48px;
}

.historia::marker {
    color: red;
}

img {
    width: 100%;
    border-radius: 28px;
}

footer {
    color: gray;
    text-align: center;
    padding-bottom: 48px;
}

footer img {
    width: initial;
    vertical-align: middle;
}